  
      
      <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Maku MovieRatingApp", 'movies', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
              
            <li><%= link_to "Home",   '/movies' %></li>
            <li><%= link_to "Help", help_path %></li>
            <li><%= link_to "Account", 'users/sign_in' %></li>
             <li class="form-inline my-2 my-lg-0" id= "search">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button></li>
              
          </ul>
        </nav>
      </div>
    </header>
      <div>
          <% if user_signed_in? %>
              <%= link_to "Edit profile", edit_user_registration_path %> |
              <%= link_to "Logout", destroy_user_session_path, method: :delete  %>
          <% else %>
              <%= link_to "Sign up", new_user_registration_path  %> |
              <%= link_to "Login", new_user_session_path  %>
          <% end %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
    <div class="container">
      <%# yield %>
    </div>